env:
    SYSDIG_SECURE_ENDPOINT: "https://eu1.app.sysdig.com"

name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


jobs:
    permissions:
      # required for all workflows
      security-events: write

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file redis/Dockerfile --tag redis-ax-${{ github.run_number }}
    - name: Scan image
      uses: sysdiglabs/scan-action@v3
      id: scan
      with:
        image-tag: "redis-ax-${{ github.run_number }}"
        sysdig-secure-token: ${{ secrets.SYSDIG_SECURE_TOKEN }}
        sysdig-secure-url: "https://eu1.app.sysdig.com" 
        run-as-user: root
        input-type: docker-daemon 

    - uses: github/codeql-action/upload-sarif@v2
      if: ${{ always() }} 
      with:
        sarif_file: ${{ steps.scan.outputs.sarifReport }}
